{% extends "blog/base.html" %}

{% block content %}

<table id="myTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Blog Title</th>
            <th>Author</th>
            <th>Created At</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for blog in blogs %}
        <tr>
            <td>{{blog.title}}</td>
            <td>{{blog.author}}</td>
            <td>{{blog.timestamp}}</td>
            <td><a href="{% url 'get_blog' blog.id %}"><i class="fas fa-eye text-success"></i></a></td>
            <td><a href="{% url 'put_blog' blog.id %}"><i class="fas fa-edit text-warning"></i></a></td>
            <td><a href="{% url 'delete_blog' blog.id %}"><i class="fas fa-trash text-danger"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}